<% provide(:title, '年単位検索') %>
<table class="table table-list">

  <div class="show_year">
    <%= @year %> 年
  </div>

  <div class="header">
    <thead>
      <tr>
        <th>月</th>
        <th>収入</th>
        <th>支出</th>
        <th>収支</th>
      </tr>
    </thead>
  </div>

  <tbody>
    <% (0..11).each do |month| %>
      <tr>
        <td><%= month + 1 %></td>
        <% (0..2).each do |element| %>
          <% if @shushi_array[month][element] < 0 %>
            <td class="akaji">
              <%= @shushi_array[month][element] %> 円
            </td>
          <% else %>
            <td><%= @shushi_array[month][element] %> 円</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
      <tr class="sum">
        <td>計</td>
        <td><%= @shunyu_sum_year %> 円</td>
        <td><%= @shishutsu_sum_year %> 円</td>
        <% if @shushi_year < 0 %>
            <td class="akaji"><%= @shushi_year %> 円</td>
        <% else %>
          <td><%= @shushi_year %> 円</td>
        <% end %>
      </tr>
  </tbody>
</table>
