<% provide(:title, '年単位検索') %>
<div class="show_year">
  <%= @year %> 年
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab-list-year" data-toggle="tab">リスト</a></li>
  <li><a href="#tab-graph-year" data-toggle="tab">グラフ</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane in active" id="tab-list-year">
    <table class="table table-list">
      <div class="header">
        <thead>
          <tr>
            <th>月</th>
            <th>収入</th>
            <th>支出</th>
            <th>収支</th>
          </tr>
        </thead>
      </div>
      <tbody>
        <% (0..11).each do |month| %>
          <tr>
            <td><%= month + 1 %></td>
            <% (0..2).each do |element| %>
              <% if @shushi_array[month][element] < 0 %>
                <td class="akaji">
                  <%= @shushi_array[month][element] %> 円
                </td>
              <% else %>
                <td><%= @shushi_array[month][element] %> 円</td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
          <tr class="sum">
            <td>計</td>
            <td><%= @shunyu_sum_year %> 円</td>
            <td><%= @shishutsu_sum_year %> 円</td>
            <% if @shushi_year < 0 %>
              <td class="akaji"><%= @shushi_year %> 円</td>
            <% else %>
              <td><%= @shushi_year %> 円</td>
            <% end %>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="tab-graph-year">
    <% @shunyu_array_graph    = Array.new %>
    <% @shishutsu_array_graph = Array.new %>
    <% @shushi_array_graph    = Array.new %>
    <% element = 0 %>
    <% (0..11).each do |month| %>
      <% @shunyu_array_graph.push(
           [
             month + 1,
             @shushi_array[month][element]
           ]
         ) %>
      <% @shishutsu_array_graph.push(
           [
             month + 1,
             @shushi_array[month][element+1]
           ]
         ) %>
      <% @shushi_array_graph.push(
           [
             month + 1,
             @shushi_array[month][element+2]
           ]
         ) %>
      <% element = 0 %>
    <% end %>
    <%= column_chart [
          { name: "収入", data: @shunyu_array_graph },
          { name: "支出", data: @shishutsu_array_graph },
        ] %>
    <%= column_chart [
          { name: "収支", data: @shushi_array_graph },
        ] %>
  </div>
</div>
